.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
    width: 100vw;
    background-color: transparent;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 6rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.carousel.slide.carousel-fade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-indicators {
    display: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

@media (max-width: 768px) {
    .hero-content {
        padding: 3rem;
    }
}