.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    gap: 4rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 100vh;
}

.poster-image {
    height: 381px;
    width: 254px;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 60%;
    position: relative;
    z-index: 3;
    gap: 0.75rem;
    background-color: transparent;
    padding: 6rem 0rem;
}

.genre-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 0.75rem;
    width: calc(40% / 60 * 100);
    background-color: transparent;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 0px 0.5rem;
    text-decoration: none;
    height: 1.5rem;
    color: white;
    font-size: smaller;
    flex-wrap: wrap;
}

.overview-container {
    display: flex;
    width: calc(40% / 60 * 100);
    background-color: transparent;
}

.movie-overview {
    overflow-wrap: break-word;
    text-align: justify;
}

.cast-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: calc(40% / 60 * 100);
    background-color: transparent;
    flex-wrap: wrap;
}

.cast-item {
    width: 5rem;
}

.cast-item-image {
    height: 96px;
    width: 64px;
    border-radius: 5px;
}

.media-container {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 100%;
}

.trailer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50%;
    width: 100%;

}

.video {
    width: 50%;
    height: 75%;
    border-radius: 1rem;
        border: 1px solid rgb(86, 86, 86);
}


.slider-container {
    height: 50%;
    width: 100%;
}

@media (max-width: 768px){
    .image-container{
        display: none;
    }
    .detail{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}