.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 345px;

    gap: 0.5rem;
}

.image-item {
    width: 175px;
    height: 240px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    transition: opacity 0.2s;
}

.image-item:hover {
    cursor: pointer;
    opacity: 0.4;
}

.title-item {
    white-space: normal;
}