#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

div{
  width: 100%;
  background-color: black;
}

p,h1,h2,h3,h4,span{
  color: white;
  margin: 0;
}

body, html, #root {
    height: 100%;
    position: relative; /* importante para que absolute funcione correctamente */
}