#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

div{
  width: 100%;
  background-color: black;
}

p,h1,h2,h3,h4,span{
  color: white;
  margin: 0;
}

body, html, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}