nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-items{
    display: flex;
    flex-direction: row;

    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

.logo{
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
}

.item{
    border-bottom: 0.25rem solid transparent;
    height: 100%;
}

.item:hover{
    border-bottom: 0.25rem solid red;
    padding: 0;
    margin: 0;
}

.link{
    color: white;
    text-decoration: none;
}