.swiper-slide{
    height: 275px;
    width: 170px;
}

.swiper.swiper-initialized.swiper-horizontal{
    width: 100%;
    margin: 0;
}
.slider-wrapper{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
